body {
    font-family: "Fondamento", cursive;
    background-color: #D3D3D3 ;
    color: #333;
}

.contact-form {

    max-width: 600px;
    margin: 50px auto;
    margin-top: 200px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
    text-align: center;
    color: #00274D;;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #00274D;;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

* {
    
margin:0px;
padding:0px;
box-sizing: border-box;
}

ul, ol {
list-style:none;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.nav &gt; li {
float:left;
}

.nav li a {
background-color:#00274D;
color:#fff;
text-decoration:none;
padding:10px 12px;
display:block;
}
